- name: upgrade all packages
  yum:
    name: '*'
    state: latest

- name: install prerequisite packages
  yum:
    name:
      - wget
      - epel-release
      - kernel-devel
    state: present

- name: install dkms
  yum:
    name:
      - dkms
    state: present

- name: create blacklist.conf file
  file:
    path: /etc/modprobe.d/blacklist.conf
    state: touch

- name: add block in blacklist
  blockinfile:
    path: /etc/modprobe.d/blacklist.conf
    block: |
      blacklist nouveau
      options nouveau modeset=0

- name: disable nouveau configuration
  replace:
    path: /etc/default/grub
    regexp: "GRUB_CMDLINE_LINUX=\"rhgb quiet\""
    replace: "GRUB_CMDLINE_LINUX=\"rhgb quiet nouveau.modeset=0 modprobe.blacklist=nouveau rd.driver.blacklist=nouveau\""

- name: copy older initramfs image to backup file
  copy:
    remote_src: yes
    src: "/boot/{{ initramfs_image }}.img"
    dest: "/boot/{{ initramfs_image }}-backup.img"
    mode: 0600

- name: delete older initramfs image
  file:
    path: "/boot/{{ initramfs_image }}.img"
    state: absent

- name: generate new initramfs image
  command: dracut

- name: apply changes of /etc/default/grub
  command: grub2-mkconfig -o /boot/grub2/grub.cfg

- name: apply changes of /etc/default/grub
  command: grub2-mkconfig -o /boot/efi/EFI/centos/grub.cfg

- name: insert cuda env variable into .bashrc
  blockinfile:
    path: "{{ client_user_home }}/.bashrc"
    block: |
      ## CUDA and cuDNN paths
      export PATH=/usr/local/cuda/bin:${PATH}
      export LD_LIBRARY_PATH=/usr/local/cuda/lib64:${LD_LIBRARY_PATH}

- name: apply .bashrc
  shell: "source {{ client_user_home }}/.bashrc"
  args:
    executable: /bin/bash

- name: copy nvidia driver / cuda runfile / cudnn archive
  copy:
    src: "{{ item }}"
    dest: "{{ client_user_home }}"
    mode: 0777
  with_items:
  - "{{ file_path }}/{{ nvidia_driver }}"
  - "{{ file_path }}/{{ cuda_runfile }}"
  - "{{ file_path }}/{{ cudnn_archive }}"

- name: unzip cudnn archive
  unarchive:
    src: "{{ file_path }}/{{ cudnn_archive }}"
    dest: "{{ client_user_home }}"
