---
- name: setup gpu server CentOS7.9
  when: >
    (ansible_distribution != 'CentOS')

     or

    (ansible_distribution_version != '7.9')
  meta: end_play

- name: install basic packages
  yum:
    name:
      - net-tools
      - createrepo
      - nfs-utils

- name: mount disks
  when: disk_presence == true
  include_tasks: mount_disk.yaml

- name: install nvidia driver / cuda / cudnn
  when: gpu_presence == true
  include_tasks: install_gpu_drivers.yaml

- name: install docker
  when: docker_install == true
  include_tasks: install_docker.yaml

- name: install nvidia container toolkit
  when: nvidia_docker_install == true
  include_tasks: install_nvidia_container_toolkit.yaml

- name: install intel raid web console
  when: intel_raid_presence == true
  include_tasks: install_rwc3_centos.yaml
