- name: install prerequisite packages
  apt:
    pkg:
      - build-essential
      - linux-headers-generic
      - dkms
    state: present

- name: add block in blacklist
  blockinfile:
    path: /etc/modprobe.d/blacklist.conf
    block: |
      blacklist nouveau
      blacklist lbm-nouveau
      options nouveau modeset=0
      alias nouveau off
      alias lbm-nouveau off

- name: create nouveau-kms.conf
  file:
    path: /etc/modprobe.d/nouveau-kms.conf
    state: touch

- name: delete nouveau configuration
  lineinfile:
    path: /etc/modprobe.d/nouveau-kms.conf
    line: options nouveau modeset=0
 
- name: kernel rebuild
  shell: update-initramfs -u

- name: insert cuda env variable into .bashrc
  blockinfile:
    path: "{{ client_user_home }}/.bashrc"
    block: |
      ## CUDA and cuDNN paths
      export PATH=/usr/local/cuda/bin:${PATH}
      export LD_LIBRARY_PATH=/usr/local/cuda/lib64:${LD_LIBRARY_PATH}

- name: apply .bashrc
  shell: "source {{ client_user_home }}/.bashrc"
  args:
    executable: /bin/bash

- name: copy nvidia driver / cuda runfile / cudnn archive
  copy:
    src: "{{ item }}"
    dest: "{{ client_user_home }}"
    mode: 0777
  with_items:
  - "{{ file_path }}/{{ nvidia_driver }}"
  - "{{ file_path }}/{{ cuda_runfile }}"
  - "{{ file_path }}/{{ cudnn_archive }}"

- name: install nvidia-driver package
  apt:
    pkg:
      - nvidia-driver-510-server
    state: present

- name: unzip cudnn archive
  unarchive:
    src: "{{ file_path }}/{{ cudnn_archive }}"
    dest: "{{ client_user_home }}"
