---
- name: setup gpu server Ubuntu 22.04
  when: >
    (ansible_distribution != 'Ubuntu')

     or

    (ansible_distribution_version != '22.04')
  meta: end_play

- name: install basic packages
  apt:
    pkg:
      - net-tools
      - xfsprogs
      - nfs-common
    update_cache: yes

- name: prevent package auto upgrade
  command: sed -i 's/1/0/g'  /etc/apt/apt.conf.d/20auto-upgrades

- name: mount disks
  when: disk_presence == true
  include_tasks: mount_disk.yaml

- name: install nvidia driver / cuda / cudnn
  when: gpu_presence == true
  include_tasks: install_gpu_drivers.yaml

- name: install docker
  when: docker_install == true
  include_tasks: install_docker.yaml

- name: install nvidia container toolkit
  when: nvidia_docker_install == true
  include_tasks: install_nvidia_container_toolkit.yaml

- name: install intel raid web console
  when: intel_raid_presence == true
  include_tasks: install_rwc3_debian.yaml
