- name: make mount point directory
  file:
    path: /data
    state: directory

- name: format disk
  parted:
    device: /dev/sdb
    label: gpt
    number: 1
    state: present
    part_start: "0%"
    part_end: "100%"

- name: filesystem disk
  filesystem:
    dev: /dev/sdb1
    fstype: xfs

- name: mount disk
  mount:
    fstype: xfs
    src: /dev/sdb1
    path: /data
    state: mounted
